body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.spinner-container {
  display: flex; 
  align-items: center; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;    
  background-color: rgba(255,255,255,0.7);
  z-index: 1; 
  animation-name: disappear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.spinner-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); 
}
.spinner {
  width: 50px;
  height: 50px;
  display: inline-block; 
  border-width: 3px;
  border-color:rgba(0,0, 0, 0.50);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}
@keyframes spin {
100% {
  transform: rotate(360deg);
}
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  } 
} 
.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  align-self: center;
}
.map-icon {
  width: 100%;
  border: none;
  background-color: #e8e8e8;
  color: black;
  padding: 16px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.Brief {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}
h2 {
  margin: 0px;
  padding: 20px;
}
h3 {
  margin: 0px;
  padding: 0px 20px;
  font-weight: 200;
}
.Brief button {
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  border: none;
  color: white;
  padding: 15px;
  font-size: 14px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.Brief button:hover {
  box-shadow: 5px 5px 10px 2px gray;
  background: linear-gradient(to bottom, #ff33cc 0%, #b502e2 100%);
}
.menu-booking-steps {
  display: flex;
  flex-direction: column;
}
a.list {
  background-color: #f2f2f2;
  color: black;
  text-decoration: none;
  padding: 20px;
  position: relative; 
  border-radius: 15px;
  box-shadow: 2px 2px 10px lightgrey;
  margin: 10px 30px;
  font-size: 16px;
}
.list:hover {
  background: #e4d5f6;
}
.list svg {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}
.list:hover svg {
  fill: #9356dc;
}
.count {
  position: absolute;
  left: -20px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  font-size: 12px;
}
.restaurant-menu-cards {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}
.restaurant-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 15px;
  margin: 20px 20px;
  text-decoration: none;
  color: black;
  box-shadow: 8px 8px 20px 10px #d1d1d1;
  position: relative;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #99e2d0;
  padding: 5px 15px;
  font-size: 12px;
}
.restaurant-card:hover {
  box-shadow: 0 5px 15px black;
  transform: translateY(-5px);
  text-decoration: none;
}
.restaurant-menu-image {
  width: 100%;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
a{
  text-decoration: none;
  color: black;
}
.restaurant-name {
  padding: 10px 20px;
  line-height: 25px;
}
.restaurant-name p {
  margin: 0px;
  font-size: 18px;
  font-weight: 200;
}
.restaurant-name i {
  position: absolute;
  bottom: 25px;
  right: 25px;
  border: none;
  background-color:white;
  font-size: 25px;
  cursor: pointer;
}
.restaurant-name .fas
{
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
} 
.restaurant-name:hover .fas {
  opacity: 1;
  transform: scale(1.2);
}
.footer-container {
  background-color: rgb(44, 43, 43);
  color: white;
  padding-bottom: 20px;
  text-align: start;
}
.footer-container h2 {
  font-family: "Shrikhand", cursive;
}
ul {
  padding-left: 0px;
  margin: 0px 20px;
}
li {
  display: block;
}
li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  line-height: 2;
}
.footer-container svg {
  fill: white;
}

/* For menu page */

.nav-container {
  width: 100%;
}
.header-logo {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: "Shrikhand", cursive;
  margin: 15px 0px;
}
.header-logo h1 {
  margin: 15px 0px;
}
.arrow-left {
  float: left;
  margin: 0px 10px;
  font-size: 35px;
  text-decoration: none;
  color:black;
}
.menu-image {
  width: 100%;
  height:300px;
  object-fit: cover;
}
.menu-section {
  position: relative;
  text-align: center;
}
main {
  position: absolute;
  top: 70%;
  background-color: #f2f2f2;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: fit-content;
}
.restaurant-title {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.restaurant-title h2 {
  font-family:"Shrikhand", cursive;
}
.restaurant-title i {
  position: absolute;
  right: 25px;
  border: none;
  background-color:transparent;
  font-size: 25px;
  cursor: pointer;
}
.restaurant-title .fas
{
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 800ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
} 
.restaurant-title:hover .fas {
  opacity: 1;
  transform: scale(1.2);
}
.food-courses {
  margin-bottom: 15px;
}
.food-courses h3 {
  width:fit-content;
  padding: 2px 0px;
  margin: 0px 20px;
  text-align: start;
  border-bottom: 2px solid #99e2d0;
}
.animation-effect{
  margin: 20px;
  animation: move 2s;
  text-align: start;
}
@keyframes move {
  0% {
    color: white;
    background-color: white;
  }
}
.dish-name {
  display: flex;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  animation: mymove 2s;
  animation-fill-mode: forwards;
  overflow: hidden; 
  cursor: pointer;
}
@keyframes mymove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.dish-box {
  overflow: hidden;
  margin: 10px 10px;
}
.dish-box h4 {
  margin: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dish-box p {
  margin: 8px;
  font-weight: 200;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.dish-price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  transform: translateX(50px);
  transition-property: transform;
  transition-duration: 1s;
}
.dish-name:hover .dish-price {
  transform: translateX(0);
}

.dish-selection-btn {
  width: auto;
  background-color: #99e2d0;
  border: none;
  color: white;
  position: relative;
  padding: 25px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateX(100%); 
  transition-property: transform;
  transition-duration: 1s;
}
.dish-name:hover .dish-selection-btn {
  display: block;
  transform: translateX(0);
}
.dish-name:hover .bi {
  transform: rotate(0);
} 
.dish-name .bi{
  transition-property: transform;
  transition-duration: 1s;
  transform: rotate(1turn);
}
.order-button {
  display: flex;
  justify-content: center;
  text-align: center;
}
.order-button button {
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  border: none;
  color: white;
  padding: 20px 80px;
  font-size: 20px;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.order-button button:hover {
  box-shadow: 5px 5px 10px 2px gray;
  background: linear-gradient(to bottom, #ff33cc 0%, #b502e2 100%);
}
